:root{
  --bg-clr: #131313;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-family: 'Source Code Pro', monospace;
}

body{
  background-color: var(--bg-clr);
  overflow: overlay;
  
}

.app{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
  overflow-x: hidden;
}

.main_view1,
.main_view2,
.main_view3,
.main_view4 {
  width: 100%;
  height: 100vh;
  flex-shrink: 0;
  position: sticky;
  top: 0;
  font-size: 50px;
  font-weight: 500;
  color: white;
}

.main_view4{
  height: 100vh;
}

.main_view1{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.view1{
  margin: 0 100px;
  padding-top: 100px;
}

.view1__card{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 600px;
  border-radius: 20px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, .6);
}

.view1__card-contain-img{
  width: 100%;
  height: 500px;
}

.view1__card-img{
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: auto 120%;
  background-position: center;
  /* animation: slideAvatar 16s infinite; */
}

@keyframes slideAvatar {
  0%{
    background-image: url('./assets/image/per.png');
  }
  25%{
    background-image: url('./assets/image/avt-9.jpg');
  }
  50%{
    background-image: url('./assets/image/bg2.jpg');
  }
  100%{
    background-image: url('./assets/image/bg3.jpg');
  }
}

.view1__card-name{
  font-size: 4rem;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 4px solid rgb(255, 255, 255);
}

.view1__card-major{
  font-size: 2rem;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.view1__tabinfo{
  
}

.tab{
  display: flex;
  width: 100%;
  height: 100%;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, .6);
  border-radius: 20px;
}

.main_view1,
.main_view2,
.main_view3,
.main_view4{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main_view1{
  
}

.main_view2{
  
}


.main_view3{
  
}

.main_view4{
  background-image: linear-gradient(#30cfd0 ,#004743 );

}

.about {   
  border-radius: 20px;  
  display: flex;  
  background-color: transparent;
  width: 100%;
  flex-direction: column;
}  

.btn-container {  
  border-top-left-radius: 20px;  
  border-top-right-radius: 20px;  
  flex: 0 0 50px; 
  display: flex; 
  height: 50px;
}  
.tab-btn:nth-child(1) {  
  border-top-left-radius: 20px;  
}  
.tab-btn:nth-child(3) {  
  border-top-right-radius: 20px;  
}  
.tab-btn {
  padding: 0; 
  border: none;  
  text-transform: capitalize;  
  font-size: 2rem;  
  display: block;  
  background: rgba(0, 0, 0, 0.19);  
  cursor: pointer;  
  transition: all 0.3s linear;  
  letter-spacing: .25rem;  
  color: rgba(255, 255, 255, 0.367);
}  
.tab-btn:hover:not(.active) {  
  background: var(--clr-primary-10);  
  color: var(--clr-primary-5);  
}  
.about-content {  
  border-bottom-left-radius: var(--radius);  
  border-bottom-right-radius: var(--radius);  
  padding: 2rem 1.5rem;  
  background-color: transparent;
  flex: 1;
}  
/* hide content */  
.content {  
  display: none; 
  width: 100%;
}  

.content {  

}  

.content__intro{
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  text-shadow: 0 0 15px #131313;
}

.content__header{
  height: 50px;
  display: flex;
  align-items: center;
}


.content__desc{
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: start;
  flex: 1;
  font-size: 2.6rem;
}
.content__desc div{  
  flex: 1;
  line-height: 50px;
}  

.content__desc div a{  
  color: #fff;
} 

.tab-btn.active {  
  background: transparent;  
  color: #fff;
  font-weight: 700;
}  
.content.active {  
  display: flex;   
  height: 100%;
}  



/* edu */

.content__edu-intro{
  display: flex;
  align-self: center;
  flex-direction: column;
  text-shadow: 0 0 15px #131313;
}

.content__edu-header{
  height: 50px;
  display: flex;
  align-items: center;
}


.content__edu-desc{
  height: 50px;
  display: flex;
  justify-content: start;
  flex: 1;
  font-size: 2.6rem;
  flex-direction: column;
  line-height: 40px;
}

.content__edu-desc-school{
  display: flex;
  justify-content: space-between;
}

.university__vision{
  position: relative;
  cursor: pointer;
  color: rgb(0, 253, 160);
}

.university__vision:hover .university{
  display: block;
}

.university{
  position: absolute;
  bottom: 46px;
  right: 0;   
  z-index: 2;
  width: 50%;
  height: 94px;
  border-radius: 3px;
  box-shadow: 0 1px 2px #e0e0e0;
  display: none;
}

.university::before {
  content: "";
  position: absolute;
  bottom: -19px;
  width: 200%;
  left: -140px;
  height: 40px;
  z-index: 2;
}

.university img{
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
  height: 100%;
}

.content__info{
  display: flex;
  font-size: 1.8rem;
  width: 100%;
  padding: 20px 50px;
  text-shadow: 0 0 15px #131313;
}

.content__info-left,
.content__info-right{
  width: 50%;
  padding: 40px 0;
}

.content__info-left-list,
.content__info-right-list{
  padding-left: 0;
  list-style: none;
  height: 100%;
}

.content__info-left-item,
.content__info-right-item{
  height: 20%;
  display: flex;
  align-items: center;
}

.content__info-right-item{

}

.content__info-right{

}

.content__info-right-list{
  
}

.content__info-right-item{

}

.info__title{
  margin-right: 10px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.info__link{
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}

.info__link:hover{
  color: rgb(0, 253, 160);
}

/* View 2 */

.view2{
  width: 100vw;
  padding: 0 100px;
  
}

.view2__heading{
  height: 100px;
  color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  
}

.view2__heading-container{
  position: relative;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.view2__heading-container span{
  mix-blend-mode: difference;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.view2__heading-container::after{
  content: '';
  position: absolute;
  bottom: 10px;
  left: 0;
  top: 10px;
  width: 50%;
  background-color: #fff;
  z-index: -1;
  overflow: hidden;
  animation: slideText 4s infinite linear;
  -webkit-animation: slideText 4s infinite linear;
}

@keyframes slideText {
  0%, 100%{
    transform: translateX(0px);
  }
  50%{
    transform: translateX(100%);
  }
}


.view2__content{
  display: flex;
  height: calc(100vh - 100px);
  padding-bottom: 100px;
  align-items: center;
  justify-content: center;
}

.view2__content-container{
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  
}

.view2__content-item{
  width: 33.3333%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  backdrop-filter: blur(3px);
  background-image: unset;
  background-size: auto 90%;
  background-position: center;
  text-shadow: 0 0 10px #131313;
  font-weight: 700;
  transition: all .1s;
  -webkit-backdrop-filter: blur(3px);
}

.view2__content-item:hover{
  color: #fff;
  text-shadow: 0 0 10px #131313;
  backdrop-filter: unset;
  mix-blend-mode: unset;
  -webkit-backdrop-filter: unset;
}

.view2__content-item:hover span{
  font-size: 3.6rem;
  transition: all .8s;
}

.view2__content-item:nth-child(1),
.view2__content-item:nth-child(2),
.view2__content-item:nth-child(4),
.view2__content-item:nth-child(5){
  border-right: 1px solid #fff;
}

.view2__content-item:nth-child(1),
.view2__content-item:nth-child(2),
.view2__content-item:nth-child(3){
  border-bottom: 1px solid #fff;
}

@keyframes unblur {
  from{
    backdrop-filter: blur(3px);
  }
  to{
    backdrop-filter: blur(0px);
  }
}

/* View3 */

.view3{
  width: 100vw;
  padding: 0;
  height: 100vh;
}

.view3__heading{
  height: 100px;
  color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  text-shadow: 0 0 15px;
  padding: 0 100px;
}

.view3__content{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  height: calc(100% - 100px);
  flex-wrap: wrap;
  padding-bottom: 100px;
}

.item-container{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item{

}

.prev-item{
  flex: 1;
  background-image: url(/assets/image/filemanager.png);
  background-size: auto 100%;
  height: 40%;
  background-position: center right;
  margin-right: 20px;
  filter: grayscale(100%);
} 

.curr-item{
  flex: 2;
  background-image: url(/assets/image/homecoming.jpg);
  background-size: auto 55%;
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  margin: 0 20px;
} 

.next-item{
  flex: 1;
  background-image: url(/assets/image/shopeeUI.png);
  background-size: auto 100%;
  height: 40%;
  background-position: center left;
  margin-left: 20px;
  filter: grayscale(100%);
} 



@keyframes textchange{
  0%, 100%{
    color: deeppink;
  }
  25%{
    color: deepskyblue;
  }
  50%{
    color: lawngreen;
  }
  75%{
    color: yellow;
  }
}


