:root{
  --bg-clr: #131313;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Barlow Condensed', sans-serif;
}

body{
  background-color: var(--bg-clr);
  overflow: overlay;
  user-select: none;
  position: relative;
}

.loading{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--bg-clr);
  z-index: 100;
}

.loading span{
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
}

.app{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
  overflow-x: hidden;
}

.main_view1,
.main_view2,
.main_view3,
.main_view4 {
  width: 100%;
  height: 120vh;
  flex-shrink: 0;
  position: sticky;
  top: 0;
  font-size: 5rem;
  font-weight: 500;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background-image: linear-gradient(#30cfd0 ,#004743 ); */
}

.main_view4{
  height: 100vh;
  background-image: linear-gradient(#30cfd0 ,#004743 );
}

.main_view1{
  background-image: url("../image/bg1.jpg");
  /* background-image: linear-gradient(#575757 ,#000000 ); */

}
.main_view2{
  background-image: url("../image/bg2.jpg");
  /* background-image: linear-gradient(#30cfd0 ,#004743 ); */
}
.main_view3{

}
.main_view4 {
  background-image: url("../image/bg3.jpg");
  /* background-image: linear-gradient(#a0a0a0 ,#464646 ); */
}

.view1{
  padding: 100px;
  height: 100vh;
}

.view1_container{
  height: 100%;
}

.view1_container_row{
  height: 100%;
}

.view1__card{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, .6);
}

.view1__card-contain-img{
  width: 100%;
  flex: 6;
}

.view1__card-img{
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: auto 120%;
  background-position: center;
  /* animation: slideAvatar 16s infinite; */
}

@keyframes slideAvatar {
  0%{
    background-image: url('./assets/image/per.png');
  }
  25%{
    background-image: url('./assets/image/avt-9.jpg');
  }
  50%{
    background-image: url('./assets/image/bg2.jpg');
  }
  100%{
    background-image: url('./assets/image/bg3.jpg');
  }
}

.view1__card-name{
  font-size: 4rem;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 4px solid rgb(255, 255, 255);
}

.view1__card-major{
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.tab{
  display: flex;
  width: 100%;
  height: 100%;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, .6);
  border-radius: 20px;
}


.about {   
  border-radius: 20px;  
  display: flex;  
  background-color: transparent;
  width: 100%;
  flex-direction: column;
}  

.btn-container {  
  border-top-left-radius: 20px;  
  border-top-right-radius: 20px;  
  flex: 0 0 50px; 
  display: flex; 
  height: 50px;
}  
.tab-btn:nth-child(1) {  
  border-top-left-radius: 20px;  
}  
.tab-btn:nth-child(3) {  
  border-top-right-radius: 20px;  
}  
.tab-btn {
  padding: 0; 
  border: none;  
  text-transform: capitalize;  
  font-size: 2rem;  
  display: block;  
  background: rgba(0, 0, 0, 0.19);  
  cursor: pointer;  
  transition: all 0.3s linear;  
  letter-spacing: .25rem;  
  color: rgba(255, 255, 255, 0.367);
}  
.tab-btn:hover:not(.active) {  
  background: var(--clr-primary-10);  
  color: var(--clr-primary-5);  
}  
.about-content {  
  border-bottom-left-radius: var(--radius);  
  border-bottom-right-radius: var(--radius);  
  padding: 2rem 1.5rem;  
  background-color: transparent;
  flex: 1;
  
}



/* hide content */  
.content {  
  display: none; 
  width: 100%;
}  

.content__intro{
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  text-shadow: 0 0 15px #131313;
}

.content__header{
  height: 50px;
  display: flex;
  align-items: center;
}

.content__header>span{
  color: #00fda0;
  padding-left: 6px;
}

.content__desc{
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: start;
  flex: 1;
  font-size: 2.6rem;
  font-weight: 300;
}
.content__desc div{  
  flex: 1;
  line-height: 50px;
}  

.content__desc div a{  
  color: #fff;
} 

.tab-btn.active {  
  background: transparent;  
  color: #fff;
  font-weight: 700;
}  
.content.active {  
  display: flex;
  height: 100%;
  animation: fadeIn .5s ease;
}  

@keyframes fadeIn {
  from{
    opacity: .2;
    transform: scale(0.2);
  }
  to{
    opacity: 1;
    transform: scale(1);

  }
}

/* edu */

.content__edu-intro{
  display: flex;
  align-self: center;
  flex-direction: column;
  text-shadow: 0 0 15px #131313;
}

.content__edu-header{
  height: 50px;
  display: flex;
  align-items: center;
}


.content__edu-desc{
  height: 50px;
  display: flex;
  justify-content: start;
  flex: 1;
  font-size: 2.6rem;
  flex-direction: column;
  line-height: 40px;
}

.content__edu-desc-school{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.content_line{
  display: flex;
}

.university__vision{
  position: relative;
  cursor: pointer;
  color: rgb(0, 253, 160);
  padding-left: 8px;
}

.university__vision:hover .university{
  display: block;
}

.university{
  position: absolute;
  bottom: 46px;
  right: 0;   
  z-index: 2;
  width: 50%;
  height: 94px;
  border-radius: 3px;
  box-shadow: 0 1px 2px #e0e0e0;
  display: none;
}

.university::before {
  content: "";
  position: absolute;
  bottom: -19px;
  width: 200%;
  left: -140px;
  height: 40px;
  z-index: 2;
}

.university img{
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
  height: 100%;
}

.content__info{
  display: flex;
  font-size: 1.8rem;
  width: 100%;
  padding: 20px 50px;
  text-shadow: 0 0 15px #131313;
}

.content__info-left,
.content__info-right{
  width: 50%;
  padding: 40px 0;
}

.content__info-left-list,
.content__info-right-list{
  padding-left: 0;
  list-style: none;
  height: 100%;
}

.content__info-left-item,
.content__info-right-item{
  height: 20%;
  display: flex;
  align-items: center;
}

.info__title{
  margin-right: 10px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.info__link{
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}

.info__link:hover{
  color: rgb(0, 253, 160);
}

/* View 2 */

.view2{
  width: 100vw;
  padding: 0 100px;
  height: 100vh;
}

.view2__heading{
  height: 100px;
  color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  
}

.view2__heading-container{
  position: relative;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.view2__heading-container span{
  mix-blend-mode: difference;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6rem;
  line-height: 60px;
}

.view2__heading-container::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  width: 50%;
  background-color: #fff;
  z-index: -1;
  overflow: hidden;
  animation: slideText 4s infinite linear;
  -webkit-animation: slideText 4s infinite linear;
}

@keyframes slideText {
  0%, 100%{
    transform: translateX(0px);
  }
  50%{
    transform: translateX(100%);
  }
}


.view2__content{
  display: flex;
  height: calc(100vh - 100px);
  padding-bottom: 100px;
  align-items: center;
  justify-content: center;
}

.view2__content-container{
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  
}

.view2__content-item{
  width: 33.3333%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-image: unset;
  background-size: auto 90%;
  background-position: center;
  text-shadow: 0 0 10px #131313;
  font-weight: 700;
  transition: all .1s;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.view2__content-item:hover{
  color: #fff;
  text-shadow: 0 0 10px #131313;
  backdrop-filter: unset;
  -webkit-backdrop-filter: unset;
}

/* .view2__content-item:hover span{
  font-size: 3.6rem;
  transition: all .8s;
  animation: rotate360 .9s ease;
} */

@keyframes rotate360{
  0%{
    transform: rotate(270deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

/* .view2__content-item:nth-child(1),
.view2__content-item:nth-child(2),
.view2__content-item:nth-child(4),
.view2__content-item:nth-child(5){
  border-right: 1px solid #fff;
}

.view2__content-item:nth-child(1),
.view2__content-item:nth-child(2),
.view2__content-item:nth-child(3){
  border-bottom: 1px solid #fff;
} */

@keyframes unblur {
  from{
    backdrop-filter: blur(3px);
  }
  to{
    backdrop-filter: blur(0px);
  }
}

/* View3 */

.view3{
  width: 100vw;
  padding: 0 0 100px 0;
  height: 100vh;
  position: sticky;
  top: 0;
}

.view3__heading{
  height: 100px;
  color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  text-shadow: 0 0 15px #111;
}

.view3__content{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  height: calc(100% - 100px);
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.item-container{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prev-item{
  flex: 1;
  background-size: auto 100%;
  height: 40%;
  background-position: center right;
  margin-right: 20px;
  filter: grayscale(100%);
  cursor: pointer;
  transition: .7s ease;

} 

.prev-item:hover{
  background-size: auto 110%;
  height: 45%;
  filter: grayscale(0%);
  transition: .7s ease;
} 

.curr-item{
  flex: 4;
  width: 100%;
  background-size: auto 90%;
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  position: relative;
  transition: .5s ease;
  display: flex;
  border: 2px solid #fff;
  border-radius: 20px;
} 

.curr-item:hover{
  background-size: auto 100%;
  transition: .5s ease;
  cursor: pointer;
} 

.curr-item:hover .curr-link{
  display: flex;
} 

.curr-item:hover span{
  top: -1px;
  transition: all .7s ease;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}



.curr-link{
  position: absolute;
  text-decoration: none;

  display: none;
  align-items: center;
  justify-content: space-evenly;
  
  top: 0;
  width: 100%;
  bottom: 0;
  background-color: #1313135f;
  border-radius: 20px;
  transition: all .7s ease;
}

.curr-link a{
  color: rgb(0, 253, 160);
  font-size: 6.2rem;
  width: 60px;
  height: 58px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  animation: fallFromTop .4s ease;
}

.curr-link a:hover{
  transform: scale(1.2);
  transition: .7s ease;
}

.curr-item span{
  position: absolute;
  width: 50%;
  height: 40px;
  line-height: 40px;
  transform: translateX(50%);
  bottom: -20px;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 700;
  background-color: #fff;
  color: #111;
  border-radius: 10px;
  transition: .4s ease;
}

.next-item{
  flex: 1;
  background-size: auto 100%;
  height: 40%;
  background-position: center left;
  margin-left: 20px;
  filter: grayscale(100%);
  cursor: pointer;
  transition: .7s ease;

} 

.next-item:hover{
  background-size: auto 110%;
  height: 45%;
  filter: grayscale(0%);
  transition: .7s ease;
} 

.view3_oder{
  filter: blur(3px) brightness(40%);
  position: absolute;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}



@keyframes textchange{
  0%, 100%{
    color: deeppink;
  }
  25%{
    color: deepskyblue;
  }
  50%{
    color: lawngreen;
  }
  75%{
    color: yellow;
  }
}

@keyframes fallFromTop{
  from{
    opacity: .2;
    transform: translateY(25px);
  }
  to{
    opacity: 1;
    transform: translateY(0px);
  }
}


/* View4 */

.view4{
  width: 100vw;
  padding: 0 0 100px 0;
  height: 100vh;
  position: sticky;
  top: 0;
}

.view4__heading{
  height: 100px;
  color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700; 
}

.view4__content{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  height: calc(100% - 100px);
  flex-wrap: wrap;
  margin-bottom: 100px;
  padding: 0 100px;
}


.view4__content > a, .view4__content >a:visited { color: #fff; }
.view4__content > a:hover { color: #fff; }

.social {
	align-items: center;
  justify-content: center;
	margin: 0; 
  width: 100px; 
  height: 100px; 	
	display: flex; 
  text-align: center; 
  line-height:100px; 
  color: #fff;
	position: relative;
	transform:rotateY(0deg);
	transition:transform .5s ease;
	transform-style: preserve-3d;
}

.social > div {
	width: 100px; height: 100px; 
  background: #000;
	position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0;
}
.social >.front {
	transform:translateZ(-50px);
}
.social >.back {
	background: #3B5998; 
	transform:rotateY(90deg) translateZ(-50px);
}

.social.social-twitter > .back { background: #1d9bf0; }
.social.social-github > .back { background: #f3f3f3; color: #000; }
.social.social-user > .back { background: #00fda0; }
.social.social-soundcloud > .back { background: #f50; }
.social.social-tiktok > .back { background: linear-gradient(90deg, #25F4EE 0%,#FE2C55 100%); color: #000; }
.social.social-instagram > .back{ background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);  }
.social.social-linkedin > .back { background: #0a66c2; }
.social.social-youtube > .back { background: #ff0000; }
.social.social-cv > .back { background: #029c7c; }


.social:hover {
	transform: rotateY(-90deg) translateZ(0px);
}


