/* Mobile && Tablet */

@media(max-width: 1023px){
    
}

/* Tablet */

@media (min-width: 740px) and (max-width: 1023px){
    .main_view1,
    .main_view2,
    .main_view3,
    .main_view4 {
        
    width: 100%;
    height: 200vh;
    
    flex-shrink: 0;
    position: relative;
    

    font-size: 50px;
    font-weight: 500;
    color: white;
    }

    .view1__card-img{
        background-position: top;
        margin-top: -100px;
        height: 119%;
        transform: scale(1);
    }
}

/* Mobile */

@media (max-width: 739px){
    
    .main_view1 {
        
    width: 100%;
    height: 190vh;
    
    flex-shrink: 0;
    position: relative;
    

    font-size: 50px;
    font-weight: 500;
    color: white;
    }

    .view1{
        margin: 0 20px;
        padding-top: 20px;
        height: 100vw;
        width: calc(100vw - 40px);
    }

    .view1__card-img{
        background-position: center;
        transform: scale(1);
    }
    
    .tab{
        height: calc(100vh - 80px);
        margin-top: 50px;
    }

    .tab-btn{
        font-size: 1.6rem;
    }

    .about-content{
        padding: 0 16px;
        height: 60%;
    }

    .content__info {
        display: block;
        font-size: 2rem;
        width: 100%;
        padding: 0;
        margin: auto 0;
    }
    .content__info-left, .content__info-right{
        width: 100%;
        padding: 0;
    }

    .content__info-left-item, .content__info-right-item{
        padding: 20px 0;
    }

    .content__edu-header{
        font-size: 3rem;

    }
    .content__edu-desc{
        font-size: 1.6rem;
    }


    /* view 3 */

    .view3{
        padding: 0 20px;
        position: absolute;
        height: unset;
    }

    .view3__heading{
        height: 50px;
      }
    .view3__content{
        width: 90vw;
        display: flex;
        flex-direction: column;
        height: 80vh;
        align-items: center;
        justify-content: center;
    }

    .panel{
        background-size: auto 210%;
        height: 12vh;
        border-radius: 10px;
        border: 2px solid #fff;
        animation: textchange 0s;
        width: 250px;
    }

    .view3__heading{
        font-size: 2.3rem;
      }

    .panel h3{
        font-size: 1.2rem;
        height: 12px;
        display: flex;
        opacity: 1;
        bottom: 0;
        left: 0;
        right: 0;
        animation: textchange 0s;
        background-color: #131313;

    }

    .view3__linkto{
        display: none;
    }


}

